*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 250px;
    height: auto;
}

body{
    margin-bottom: 50px;
}

.users-box {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 40px;
}

.users-block {
    width: 500px;
    height: 250px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}