* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container {
    max-width: 1200px;
    padding: 100px 0;
    margin: auto;
}

li, article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    padding: 20px 0;
}