* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-weight: bold;
    max-width: 1200px;
}

.course {
    max-width: 1200px;
    height: 80vh;
    border: 1px solid red;
    padding: 30px 15px;
    margin: 50px 0;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

h2 {
    width: 90%;
    padding: 10px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.wrapper > h3, p {
    width: 46%;
    height: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 90%;
    height: 50vh;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li {
    height: 25px;
    width: 95%;
    padding: 4px 0;
}

ul, li, h2, h3, p {
    border: 1px solid black;
}
